<!DOCTYPE html>
<html>
<head>
  <title>Waiter</title>
  <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag    "waiter/application", media: "all" %>
  <%= javascript_include_tag "waiter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="header">
            <h2/>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
